<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="C:\Users\Administrator\Documents\GitHub\HTML-prog-skolotaji-2019/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="C:\Users\Administrator\Documents\GitHub\HTML-prog-skolotaji-2019/css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="C:\Users\Administrator\Documents\GitHub\HTML-prog-skolotaji-2019/images\Start(IT)SmallLogo.png">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="C:\Users\Administrator\Documents\GitHub\HTML-prog-skolotaji-2019/index.html"><img src="images\Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="C:\Users\Administrator\Documents\GitHub\HTML-prog-skolotaji-2019/index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Git.html">GIT</a></li>
                            <li><a href="VSCode.html">VSCode</a></li>
                            <li><a href="AgileScrum.html">Agile/Scrum</a></li>
                            <li><a href="HTMLtags.html">HTML tags</a></li>
                            <li><a href="CssSelektori.html">CSS Selektori</a></li>
                        </ul>
                    </li>
                    <li><a href="PlainJavaScript.html">Plain JavaScript</a></li>
                    <li><a href="PlainJavaScript.html">JavaScript + DOM</a></li>
                    <li><a href="MacibuMetodologija.html">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="wrap" class="margin-top">
        <div id="main">
                <h1 class="text-center">HTML ELEMENTI un CSS SELEKTORI</h1>
                <p class="text-center">... is simply dummy text of the printing and typesetting industry...</p>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                      <ul>
                          <li>Kon</li>
                          <li>Virsr</li>
                      </ul>  
                    </div>
                    <div class="col-xs-4">
                        <ol>
                            <li>Nen</li>
                            <li> Attēls "< img >"</li>
                            <img src="../images/Start(IT)Logo.png" alt="Logo" width="104">
                            <li> Poga"< button >"</li>
                            <button> Uzspied</button>

                            <li>Sar</li>
                        </ol> 
                        <div class="col-xs-2"></div> 
                      </div>
            </div>
                <p> Selektori...</p>
                <p> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Šodien mēs iemācījāmies....</p>
                <p>Selektoru dažādība... <a href="https://www.w3schools.com/cssref/css_selectors.asp"> Vairāk par tiem... </a></p>
                
                <h1 class="text-center">Turpinājums</h1>
                <p class="text-center">... is simply dummy text of the printing and typesetting industry...</p>
                <div class=" container row">
                    <div class="col-xs-2 col-sm-4 col-md-5"></div>
                    <div class="col-xs-4">
                      <ul class="d-flex justify-content-center">
                          <li>Kon</li>
                          <li>Virsr</li>
                      </ul>  
                    </div>
                    <div class="col-xs-2">
                        <ol>
                            <li>Nen</li>
                            <li> Attēls "< img >"</li>
                            <img src="../images/Start(IT)Logo.png" alt="Logo" width="104">
                            <li> Poga"< button >"</li>
                            <button> Uzspied</button>

                            <li>Sar</li>
                        </ol> 
                        <div class="col-xs-2"></div> 
                      </div>
            </div>
                <p> Selektori...</p>
        </div>
    </div>
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda xxx</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="C:\Users\Administrator\Documents\GitHub\HTML-prog-skolotaji-2019/javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="C:\Users\Administrator\Documents\GitHub\HTML-prog-skolotaji-2019/javaScript/custom.js"></script>

</html>